<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{head.title}}</title>
        <meta name="description" content="{{head.description}}">
        <link rel="stylesheet" type="text/css" href="css/core.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>
    <body>
        {{#block "main"}}
        {{/block}}
        Changed in 0.1.3
        <script type="text/javascript" src="js/core.js"></script>
    </body>
</html>
